<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }
  .result-container {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
  display: inline-block;
}

.result-container a {
  color: #000000;
  text-decoration: none;
  font-size: 18px;
  display: inline-block;
  border: 2px solid #000000;
  padding: 8px;
  border-radius: 4px;
}

.result-link {
  display: inline-block;
  background-color: #333;
  color: #ffffff;
  padding: 8px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 16px;
}

.result-link:hover {
  background-color: #555;
}

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }

</style>

<div class="content" role="main">
  <!-- For select files -->
  <input #file type="file" (change)="onSelects(file.files)" [multiple]="'multiple'" [accept]="'.jpg, .png, .gif, .jpeg'"/>

  <div *ngFor="let item of qrCodeResult" class="result-container" >
    <img [src]="item.url | safe" [alt]="item.name" style="max-width: 100%">
    <a [href]="item.data[0].value" target="_blank"(click)="confirmNavigation($event)">{{ item.data[0].value }}</a>
    <button (click)="isStart ? stopScanner() : startScanner()">
      {{ isStart ? 'Stop Scanner' : 'Start Scanner' }}
    </button>
  </div>

 <!-- For camera -->
  <ngx-scanner-qrcode #scannerInstance></ngx-scanner-qrcode>
  
<!--Result-->
<div *ngIf="scannerInstance.data && scannerInstance.data.getValue().length > 0">
  <a [href]="scannerInstance.data.getValue()[0].value" target="_blank" class="result-link" (click)="confirmNavigation($event)">
   <span> {{ scannerInstance.data.getValue()[0].value | json }} </span>
  </a>
</div>

  <!-- Loading -->
  <p *ngIf="scannerInstance.isLoading">⌛ Iniciando Câmera...</p>
  <!-- start -->
  <button (click)="scannerInstance.isStart ? stopScanner() : startScanner()">{{ scannerInstance.isStart ? 'Stop' : 'Start' }}</button>
</div>


  
